---
import { Navbar } from '../components/Navbar';
import { Projects } from '../components/Projects';
import { Contact } from '../components/Contact';
import { WhatsApp } from '../components/WhatsApp';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Proyectos - Constructora ODAP</title>
  </head>
  <body class="bg-gray-900">
    <Navbar client:load />
    
    <div class="h-24 bg-gray-900"></div>

    <Projects client:visible showButton={false} />
    <Contact client:visible />
    <WhatsApp client:load />
  </body>
</html>
